<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/spring-cadastro/src/main/resources/static/css/cadastro.css">
    <script src="/spring-cadastro/src/main/resources/static/js/cadastro.js" defer></script>
    <title>Cadastro Teste</title>
</head>
<body>
        <div class="box">
            <h1 class="title">Cadastro</h1>
            <form action="">

                <input type="text" class="nome" placeholder="Nome">

                <input type="password" class="senha" placeholder="Senha">

                <input type="text" class="email" placeholder="Email">

                <input type="text" class="tel" placeholder="Telefone">

                <button class="submit">Enviar</button>
            </form>
        </div>
</body>
</html>